<template>
  <a :href="`/carcard/${car.id}?from=${from || ''}&to=${to || ''}&location=${location.value || ''}`" class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
    <div class="catalog-card">
      <img :src="car.image" alt="">
      <div class="catalog-card__block">
        <h2>{{car.brand.name}} {{car.models_name}}
          <span>{{car.cartype.name}}</span>
        </h2>
        <h3>{{car.cost_day}}₽
          <span>сутки</span>
        </h3>
      </div>
    </div>
      <div v-for="item in car.delivery_cars">
        <div v-if="item.place == 6">
                          <p style="margin-top: -36px;
                            background-color: #f6d200;
                            color: black;
                            width: 190px;
                            padding: 0 15px;
                            border-radius: 0 0 10px 10px;
                            box-shadow: 0 0 5px black;
                            font-family: 'Circe 300';">
                              Бесплатная доставка
                            </p>
        </div>
      </div>

  </a>
</template>
<script>



export default {
  props: {
    car: {
      type: Object,
      required: true
    },
    from: String,
    to: String,
    location: String
  },

}
</script>

