/*-- connect fonts  --*/

@font-face {
    font-family: 'Circe 200';
    src: url('/fonts/Circe-ExtraLight.eot');
    src: local('/fonts/Circe ExtraLight'), local('Circe-ExtraLight'),
        url('/fonts/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Circe-ExtraLight.woff2') format('woff2'),
        url('/fonts/Circe-ExtraLight.woff') format('woff'),
        url('/fonts/Circe-ExtraLight.ttf') format('truetype'),
        url('/fonts/Circe-ExtraLight.svg#Circe-ExtraLight') format('svg');
    font-weight: 200;
}

@font-face {
    font-family: 'Circe 300';
    src: url('/fonts/Circe-Light.eot');
    src: url('/fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Circe-Light.woff2') format('woff2'),
        url('/fonts/Circe-Light.woff') format('woff'),
        url('/fonts/Circe-Light.ttf') format('truetype'),
        url('/fonts/Circe-Light.svg#Circe-Light') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'Circe 400';
    src: url('/fonts/Circe-Regular.eot');
    src: url('/fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Circe-Regular.woff2') format('woff2'),
        url('/fonts/Circe-Regular.woff') format('woff'),
        url('/fonts/Circe-Regular.ttf') format('truetype'),
        url('/fonts/Circe-Regular.svg#Circe-Regular') format('svg');
    font-weight: 400;
}

@font-face {
    font-family: 'Circe 700';
    src: url('/fonts/Circe-Bold.eot');
    src: url('/fonts/Circe-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Circe-Bold.woff2') format('woff2'),
        url('/fonts/Circe-Bold.woff') format('woff'),
        url('/fonts/Circe-Bold.ttf') format('truetype'),
        url('/fonts/Circe-Bold.svg#Circe-Bold') format('svg');
    font-weight: 700;
}

@font-face {
    font-family: 'SF UI Text 300';
    src: url('/fonts/SFUIText-Light.eot');
    src: url('/fonts/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFUIText-Light.woff2') format('woff2'),
        url('/fonts/SFUIText-Light.woff') format('woff'),
        url('/fonts/SFUIText-Light.ttf') format('truetype'),
        url('/fonts/SFUIText-Light.svg#SFUIText-Light') format('svg');
    font-weight: 300;
}

@font-face {
    font-family: 'SF UI Display 400';
    src: url('/fonts/SFUIDisplay-Regular.eot');
    src: url('/fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFUIDisplay-Regular.woff2') format('woff2'),
        url('/fonts/SFUIDisplay-Regular.woff') format('woff'),
        url('/fonts/SFUIDisplay-Regular.ttf') format('truetype'),
        url('/fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format('svg');
    font-weight: normal;
}

@font-face {
    font-family: 'SF UI Text 500';
    src: url('/fonts/SFUIText-Medium.eot');
    src: url('/fonts/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/SFUIText-Medium.woff2') format('woff2'),
        url('/fonts/SFUIText-Medium.woff') format('woff'),
        url('/fonts/SFUIText-Medium.ttf') format('truetype'),
        url('/fonts/SFUIText-Medium.svg#SFUIText-Medium') format('svg');
    font-weight: 500;
}

@font-face {
    font-family: 'Druk Wide Medium Cy 500';
    src: url('/fonts/DrukWideMediumCy.eot');
    src: url('/fonts/DrukWideMediumCy.eot?#iefix') format('embedded-opentype'),
        url('/fonts/DrukWideMediumCy.woff2') format('woff2'),
        url('/fonts/DrukWideMediumCy.woff') format('woff'),
        url('/fonts/DrukWideMediumCy.ttf') format('truetype'),
        url('/fonts/DrukWideMediumCy.svg#DrukWideMediumCy') format('svg');
    font-weight: 500;
}

/*-- specification --*/

body {
	padding: 0;
	margin: 0;
	color: #000;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 20px;
}

li, input {
	display: block;
	padding: 0;
	margin: 0;
}
input {
	border: none;
    display: inline-block;
}

input::placeholder {color: #808080; font-size: 18px; font-family: 'Circe 300';   }
input::-webkit-input-placeholder {color: #808080; font-size: 18px; font-family: 'Circe 300';}
input:-moz-placeholder {color: #808080; font-size: 18px; font-family: 'Circe 300';}
input::-moz-placeholder {color: #808080; font-size: 18px; font-family: 'Circe 300';}
input:-ms-input-placeholder {color: #808080; font-size: 18px; font-family: 'Circe 300';}

/*input[placeholder]:focus {
	border-bottom: 1px solid #808080;
}*/

input[type=checkbox] + label {
	cursor: pointer;
}

input[type=radio] + label {
	cursor: pointer;
}

ul, p {
	padding: 0;
	margin: 0;
}
input, input:hover, input:focus, input:active, button, button:hover, button:focus, button:active {
	outline: none;
}

a, a:hover, a:active {
	text-decoration: none;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

select {
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.btn {
	background-color: #fae87f;
	border-radius: 50px;
	color: #9f934f;
	padding: 9px 55px 10px;
	font-size: 20px;
	font-family: 'Circe 400';
}

.btn:focus {
	box-shadow: 0 0 0 0 transparent;
}

.login-form__button, .personal__link, .login-form a, .login-form__join-button, .filter-btn, .car-wrapper, .creating-cars-btn, .creating-cars-btn2, .creating-cars-btn3, .car-wrapper__link, .img-card1__link, .modal-img__img-small {
	transition: all 0.5s ease;
}

/*-- header --*/

.header	{
	background-color: #191919;
	padding: 20px;
}

.more-cars {
	font-family: 'Circe 700';
	font-size: 28px;
	background-color: #f6d200;
	border-radius: 50px;
	text-align: center;
	padding: 7px 38px;
	color: #000;
}

.techsupport__phone a {
	font-family: 'Druk Wide Medium Cy 500';
	font-size: 22px;
	color: #fff;
	width: 80%;
}

.techsupport__text {
	font-family: 'Circe 200';
	font-size: 11px;
	color: #fff;
	width: 20%;
	margin-left: 15px;
}

.personal {
	margin-left: 62px;
	margin-top: 12px;
}

.personal__link {
	font-family: 'Circe 300';
	font-size: 15px;
	color: #fff;
	margin-right: 50px;
	border-bottom: 2px solid transparent;
}

.personal__link:hover {
	border-bottom: 2px solid #f6d200;
}

.personal__link:focus {
	border-bottom: 2px solid #f6d200;
}

.fa-user {
	height: 25px;
	width: 25px;
	border: 2px solid #f6d200;
	border-radius: 50%;
	color: #f6d200;
	line-height: 23px;
	text-align: center;
    font-size: 17px;
}





/*-- login  page--*/


/*login*/


.login {
	padding-top: 75px;
}

.login-title {
	font-family: 'Druk Wide Medium Cy 500';
	color: #000;
}

.login-form {
	margin-top: 53px;
}

.login-form__text {
	font-family: 'Circe 400';
	font-size: 20px;
	letter-spacing: 0.01em;
}

.login-form__input {
	max-width: 263px;
	width: 100%;
	border-bottom: 2px solid #f6d200;
	padding: 10px 65px 6px 0;
}


.login-form__adress {
	margin-bottom: 55px;
}

.checkbox-login {
	margin-top: 18px;
	margin-bottom: 32px;
}

.checkbox-login input[type="checkbox"] {
    opacity: 0;
}

.checkbox-login label {
    position: relative;
    display: inline-block;
    padding-left: 22px;
}

.checkbox-login label::before,
.checkbox-login label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox-login label::before{
	height: 22px;
    width: 22px;
    border: 1px solid;
    left: -18px;
    top: 1px;
	border-radius: 5px;
}

.checkbox-login label::after {
	height: 8px;
    width: 12px;
    border-left: 2px solid #f6d200;
    border-bottom: 2px solid #f6d200;
    transform: rotate(-45deg);
    left: -12px;
    top: 6px;
}

.checkbox-login input[type="checkbox"] + label::after {
    content: none;
}

.checkbox-login input[type="checkbox"]:checked + label::after {
    content: "";
}

.login-form__button {
	margin-right: 25px;
}

.login-form__button:hover {
	background-color: #f6d200;
	color: #000;
	box-shadow: inset 0 0 10px 5px rgba(195, 188, 188, 0.3);
}

.login-form__link {
	color: #808080;
	font-family: 'Circe 300';
	font-size: 15px;
}

.login-form a {
	text-decoration: underline;
}

.login-form a:hover {
	text-decoration: transparent;
}


/*-- join page --*/

/*join*/

.join {
	padding-top: 75px;
}

.join-title {
	font-family: 'Druk Wide Medium Cy 500';
	letter-spacing: 0.03em;
}

.login-form__name-email {
	margin-right: 249px;
}

.login-form__name, .login-form__pass {
	margin-bottom: 53px;
}

.login-form__repeat-pass {
	margin-top: 22px;
}


.login-form__pass, .login-form__repeat-pass {
	position: relative;
}

.login-form__pass #show-pass, .login-form__repeat-pass #show-pass-confirm {
	content: url(/image/eye.png);
	cursor: pointer;
	position: absolute;
	right: 0;
    top: 48px;
}

.login-form__text_red {
	font-family: 'Circe 300';
	font-size: 14px;
	color: #fa3c3c;
	position: absolute;
	margin-top: 10px;
	letter-spacing: 0.02em;
}

input[type=password] {
	background: url(/image/eye.png) no-repeat right;
}

.login-form__join-button {
	height: 50px;
	margin-top: 148px;
	padding: 9px 36px 10px;
	margin-left: 75px;
}

.login-form__join-button:hover {
	background-color: #f6d200;
	color: #000;
	box-shadow: inset 0 0 10px 5px rgba(195, 188, 188, 0.3);
}



/*--Главная страница--*/

.filter {
	padding-top: 74px;
	padding-bottom: 78px;
}

.filter-title, .creating-cars-title, .changing-card-title, .my-car-title, .about-car__title {
	font-family: 'Druk Wide Medium Cy 500';
	letter-spacing: 0.03em;
	margin-bottom: 58px;
}

.form-cars__select, .form-production-date__select, .year-form__select, .form-number-persons__select, .rent-form__select {
	background: url(/image/arrow.png) no-repeat right;
	border: none;
    border-bottom: 2px solid #f6d200;
    max-width: 195px;
    width: 100%;
    margin-top: 2px;
    padding-bottom: 8px;
	letter-spacing: 0.03em;
	font-family: 'Circe 300';
	font-size: 18px;
	color: #000
}

.form-cars__title, .card-list__title, .form-production-date__title, .year-form__title, .delivery__title, .available__title, .extra-title, .filter-btn, .filter-btn2, .form-number-persons__title, .number-dor__title, .rent__title {
	font-family: 'Circe 400';
	color: #000;
}

.form-cars__option {
	font-family: 'Circe 300';
	font-size: 18px;
	color: #000
}

.show-filter {
	margin-top: 72px;
	margin-bottom: 51px;
}

.show-filter__link {
	font-family: 'Circe 300';
	font-size: 15px;
	color: #808080;
	border-bottom: 1px solid #808080;
}

.year-form__select {
    max-width: 68px;
    margin-top: 8px;
}

.year-form__select:not(:last-child) {
	margin-right: 30px;
}






.checkbox {
	margin-top: 11px;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: inline-block;
    padding-left: 16px;
    letter-spacing: 0.045em;
    font-family: 'Circe 300';
	font-size: 17px;
	color: #000;
	margin-bottom: 3px;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}

.checkbox label::before{
	height: 22px;
    width: 22px;
    border: 1px solid;
    left: -17px;
    top: 1px;
	border-radius: 5px;
}

.checkbox label::after {
	height: 8px;
    width: 12px;
    border-left: 2px solid #f6d200;
    border-bottom: 2px solid #f6d200;
    transform: rotate(-45deg);
    left: -12px;
    top: 6px;
}

.checkbox input[class="check"] + label::after {
    content: none;
}

.checkbox input[class="check"]:checked + label::after {
    content: "";
}

.extra-title {
	margin-top: 52px;
}

.filter-btn, .filter-btn2, .btn-Upload {
	background-color: #f6d200;
	color: #000;
	box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
}

.filter-btn:hover, .filter-btn2:hover {
	box-shadow: 0 0 6px 2px rgba(12, 12, 12, 0.3);
}

.filter-btn2 {
	margin-top: 56px;
}


/*car*/

.car-wrapper {
	background: url(/image/car1.jpg) no-repeat center top;
	border-radius: 35px;
	overflow: hidden;
	border: 1px solid #d1d1d1;
	box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
	margin-bottom: 30px;
	padding: 275px 33px 27px 33px;
	position: relative;
}

.car-wrapper:hover {
	box-shadow: 0 0 6px 2px rgba(8, 8, 8, 0.44);
	border: 1px solid rgba(8, 8, 8, 0.34);
}

.car-wrapper__subtitle {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	font-family: 'Circe 400';
	color: #fff;
	font-size: 18px;
	background-color: #15c64a;
	width: 165px;
	padding: 11px 40px;
	margin: 0 car;
	-moz-border-radius: 0px 0px 20px 20px;
	-webkit-border-radius: 0px 0px 20px 20px;
	border-radius: 0px 0px 20px 20px;
}

.car-wrapper__title {
	font-family: 'SF UI Display 400', sans-serif;
	color: #191919;
	letter-spacing: 0.005em;
	margin-bottom: 17px;
}

.car-wrapper__inner:first-child {
	margin-bottom: 15px;
}

.car-wrapper__icon {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}

.car-wrapper__icon_ticket, .content-card1__icon_ticket {
	background: #f6d200 url(/image/ticket.png) no-repeat center center;
}

.car-wrapper__icon_transmission, .content-card1__icon_transmission {
	background: #f6d200 url(/image/transmission.png) no-repeat center center;
}

.car-wrapper__icon_event, .content-card1__icon_event {
	background: #f6d200 url(/image/event.png) no-repeat center center;
}

.car-wrapper__icon_car, .content-card1__icon_car {
	background: #f6d200 url(/image/car.png) no-repeat center center;
}

.car-wrapper__span, .content-card1__span {
	font-family: 'SF UI Text 500', sans-serif;
	font-size: 18px;
	color: #191919;
}

.car-wrapper__text, .content-card1__text, .content-card2__text {
	font-family: 'SF UI Text 300', sans-serif;
	font-size: 18px;
	color: #191919;
}





/*--more-cars page--*/


/*creating-cars*/

.creating-cars {
	padding-top: 74px;
	padding-bottom: 80px;
}

.creating-cars-btn {
	margin-top: 60px;
}

.creating-cars-btn, .creating-cars-btn2, .creating-cars-btn3 {
	color: #000000;
	background-color: #f6d200;
	box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
	padding: 11px 61px 9px;
}

.button-group {
	margin-top: 121px;
	left: 2%;
	bottom: 20%;
	margin-left: 10px;

}

.creating-cars-btn1 {
	background-color: #fae87f;
	color: #808080;
	padding: 11px 61px 9px;
}

.creating-cars-btn1, .creating-cars-btn2, .creating-cars-btn3 {
	display: block;
}

.creating-cars-btn1, .creating-cars-btn2 {
	margin-bottom: 40px;
}

.creating-cars-btn:hover, .creating-cars-btn2:hover, .creating-cars-btn3:hover {
	box-shadow: 0 0 6px 2px rgba(12, 12, 12, 0.3);
}


/*--Изменение карточки авто--*/

/*changing-card*/

.changing-card {
	padding-top: 74px;
	padding-bottom: 90px;
}

.card-list__wrap:not(:last-child) {
	margin-right: 120px;
}

.card-list__text {
	font-family: 'Circe 400';
	font-size: 18px;
}

.card-list__link, .content-card1__link, .content-card2__link {
	font-family: 'Circe 300';
    font-size: 15px;
    color: #808080;
    border-bottom: 1px solid #808080;
    height: 20px;
	letter-spacing: 0.025em;
}

.card-list__item:nth-child(n+3) {
	padding-top: 80px;
	padding-bottom: 58px;
}

.card-list__item:last-child {
	padding-top: 69px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	padding-bottom: 60px;
}

.card-list__item:nth-child(5) {
    padding-bottom: 84px;
}

.card-list__item:nth-child(3) {
    border-bottom: 1px solid #e8e8e8;
}

.card-list__item:nth-child(4) {
    border-bottom: 1px solid #e8e8e8;
}

.card-list__item:first-child {
	margin-bottom: 28px;
}

.card-list__item:nth-child(2) {
	padding-bottom: 38px;
	border-bottom: 1px solid #f6d200;
}

input[type=checkbox]:not(checked) {
	position: absolute;
	opacity: 0;
	width: 1px;
	left: 30px;
    top: 10px;
}

input[type=checkbox]:not(checked) + label {
	position: relative;
	padding: 0 0 0 45px;
	margin-right: 43px;
	font-family: 'Circe 300';
	font-size: 18px;
}

input[type=checkbox]:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 14px;
	width: 22px;
	height: 22px;
	border: 1px solid #060606;
	border-radius: 50%;
	background: transparent;
}
input[type=checkbox]:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 7px;
    left: 20px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #f6d200;
	opacity: 0;
	transition: all .2s;
}

input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.form-production-date, .form-number-persons {
	width: 200px;
}



input[type=radio]:not(checked) {
	position: absolute;
	opacity: 0;
	width: 1px;
	left: 30px;
    top: 10px;
}

input[type=radio]:not(checked) + label {
	position: relative;
	/*padding: 0 0 0 35px;*/
	margin-right: 43px;
	font-family: 'Circe 300';
	font-size: 18px;
}

input[type=radio]:not(checked) + label:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 14px;
	width: 22px;
	height: 22px;
	border: 1px solid #060606;
	border-radius: 50%;
	background: transparent;
}
input[type=radio]:not(checked) + label:after {
	content: '';
	position: absolute;
	top: 7px;
    left: 20px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #f6d200;
	opacity: 0;
	transition: all .2s;
}

input[type=radio]:checked + label:after {
	opacity: 1;
}

.checkbox input{
display: none;
}

.card-list__btn {
	color: #000;
	border: 2px solid #f6d200;
	background-color: transparent;
	height: 50px;
	width: 275px;
}

.card-list__item:nth-child(5) .btn {
	color: #969696;
	border: 2px solid #fae466;
}

.card-list__item:nth-child(6) .btn {
	margin-top: 37px;
	padding: 9px 45px 10px;
	letter-spacing: 0.02em;
}

.card-list__title_small {
	max-width: 175px;
	line-height: 1.1;
    letter-spacing: 0.02em;
}

.card-list__item input[value] {
	cursor:pointer;
	font-size: 20px;
	padding: 9px 55px 10px;
	border-radius: 50px;
	color: #000;
	font-family: 'Circe 400';
	background-color: #f6d200;
    box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
	position: relative;
}

#selected {
	position:absolute;
	bottom: car;
	left: 42%;
	font-family: 'Circe 300';
	font-size: 15px;
	color: #000;
	margin-top: 10px;
}


/*--- Мои авто ---*/

/*my-car*/

.my-car {
	padding-top: 74px;
	padding-bottom: 80px;
}

.my-car .car-wrapper {
	background: transparent;
	padding: 0;
	margin-bottom: 40px;
}

.my-car .car-wrapper__img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.car-wrapper__box {
	margin-top: 43px;
    padding: 0 33px 45px 41px;
}

.my-car .car-wrapper__subtitle{
    width: 242px;
    padding: 13px 25px;
    color: #fff;
}

.my-car .car-wrapper__subtitle_yellow {
	background-color: rgba(241, 212, 25, 0.81);
}

.my-car .car-wrapper__subtitle_green {
	background-color: rgba(20, 199, 75, 0.81);
}

.my-car .car-wrapper__subtitle_gray {
	background-color: rgba(116, 117, 116, 0.81);
}

.car-wrapper__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.car-wrapper__link_error {
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    font-family: 'Circe 300';
    color: #fff;
    font-size: 20px;
}

.car-wrapper__link_error .fa-ban {
	font-size: 35px;
	margin-bottom: 5px;
}



/*--- Об авто ---*/

/*about-car*/

.about-car {
	padding-top: 74px;
	padding-bottom: 80px;
}

.about-car__title {
    margin-bottom: 38px;
}

.content-card1__wrap:first-child, .content-card2__wrap:first-child {
	padding-bottom: 22px;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 40px;
}

.content-card1__title, .content-card2__title {
	font-family: 'SF UI Display 400', sans-serif;
	letter-spacing: 0.015em;
}

.img-card1__wrap:first-child, .img-card2__wrap:first-child {
	width: 262px;
	height: 262px;
	margin-right: 30px;
	position: relative;
	box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
}
.img-card1__wrap:last-child{
	width: 170px;
}

.content-card1__wrapper, .content-card2__wrapper {
	width: 50%;
}

.img-card1__img, .img-card2__img {
	max-width: 100%;
    height: 262px;
    object-fit: cover;
    object-position: 50% 50%;
}

.img-card1__link, .img-card2__link {
	border: 2px solid transparent;
	display: block;
	overflow: hidden;
	height: 100%;
}
.img-card1__link img{
	display: block;
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.img-card1__link:focus {
	opacity: 1;
	border: 2px solid #f6d200;
	outline: none;
}

.img-card1__link_end, .img-card2__link_end {
    opacity: 1;
    background-color: rgba(96, 97, 94, 0.65);
}
.img-card1__wrapper{
	flex-wrap: wrap;
	justify-content: space-between;
}


.img-card1__wrapper:not(:last-child), .img-card2__wrapper:not(:last-child) {
	margin-bottom: 30px;
}

.img-card1__inner, .img-card2__inner {
	width: 68px;
	height: 68px;
	position: relative;
	box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
	margin-bottom: 29px;
}


.content-card1__inner:not(:last-child), .content-card2__inner:not(:last-child) {
	margin-bottom: 30px;
}

.img-card1__img-small, .img-card2__img-small {
	max-width: 100%;
    height: 68px;
    object-fit: cover;
    object-position: 50% 50%;
}

.content-card1__icon, .content-card2__icon {
	width: 34px;
	height: 34px;
	border-radius: 50%;
	margin-right: 10px;
}

.content-card1__icon_ticket, .content-card2__icon_ticket {
	background: #f6d200 url(/image/ticket1.png) no-repeat center center;
}

.content-card1__icon_transmission, .content-card2__icon_transmission {
	background: #f6d200 url(/image/transmission1.png) no-repeat center center;
}

.content-card1__icon_event, .content-card2__icon_event {
	background: #f6d200 url(/image/event1.png) no-repeat center center;
}

.content-card1__icon_car, .content-card2__icon_car {
	background: #f6d200 url(/image/car1.png) no-repeat center center;
}

.content-card1__icon_door, .content-card2__icon_door {
	background: #f6d200 url(/image/door1.png) no-repeat center center;
}

.content-card1__icon_people, .content-card2__icon_people {
	background: #f6d200 url(/image/people1.png) no-repeat center center;
}

.rent {
	border: 1px solid #e8e8e8;
    border-radius: 22px;
    padding: 20px 0 14px 0;
    margin-bottom: 82px;
	margin-top: 39px;
}
.rent form{
	flex-wrap: wrap;
}
.rent__row{
	margin-top: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
}
.rent-form__input{

}
.rent-form__start, .rent-form__end {
	width: 125px;
}

.rent-form__start {
	margin-right: 40px;
}

.rent-form__title {
	font-family: 'Circe 300';
    color: #8b8b8b;
    font-size: 15px;
    line-height: 1.1em;
}

.rent-form__select {
	padding-bottom: 0px;
	font-size: 16px;
	max-width: 125px;
	margin-top: 0;
}

.rent-form__option {
    font-family: 'Circe 300';
    font-size: 16px;
}

.rent-btn {
	border: 2px solid #f6d200;
	background-color: transparent;
	color: #000;
}






/*--- arcticModal ---*/

.arcticmodal-close {
	background-color: #fff;
	color: #000;
	font-family: 'Circe 300';
    font-size: 15px;
    position: relative;
    padding-right: 20px;
    padding-right: 30px;
    cursor: pointer;
    padding-top: 5px;
}

.close {
	position: absolute;
    right: 0px;
    top: 7px;
    width: 20px;
    height: 20px;
}

.close:before, .close:after {
	position: absolute;
    left: 0px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #000;
}

.close:before {
	transform: rotate(45deg);
}

.close:after {
	transform: rotate(-45deg);
}

.modal-img {
	background-color: #fff;
	padding: 8px 35px 38px;
	max-width: 1170px;
}

.modal-img__wrap:first-child {
	width: 46%;
    height: 338px;
    margin-right: 42px;
}

.modal-img__wrap:last-child {
	width: 51%;
	height: 428px;
}

.modal-img__img {
	max-width: 100%;
    height: 338px;
    object-fit: cover;
    object-position: 50% 50%;
    box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
}

.modal-img__list {
	margin-bottom: 23px;
}

.modal-img__item {
	width: 67px;
	height: 67px;
	margin-right: 30px;
}

.modal-img__item:nth-child(6n) {
	margin-right: 0;
}

.modal-img__img-small {
	max-width: 100%;
    height: 67px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
}

.modal-img__img-small:focus {
    border: 2px solid #f6d200;
    outline: none;
}


/*
 * Checkout page
 */

/* Checkout list forms */

.checkout-lists {
	margin-top: 10%;
}
.container-form {
	display: flex;
	justify-content: space-between;
}
.checkout-btn {
	background-color: #fff;
	border: 2px solid #f6d200
}
.checkout-list {
	border-bottom: 2px solid #f6d200;
}
.container-confirm-phone,
.container-upload-pasport,
.container-driver-license,
.container-one-more-step,
.container-сhoose-insurance,
.container-сhoose-extra-options {
	display: none;
	padding-bottom: 30px;
}

/* File input */

.input-file-container {
	position: relative;
	text-align: center;
} 
.js .input-file-trigger {
	display: block;
	padding: 10px 20px;
	border-radius: 50px;
	background: #f6d200;
	color: #000;
	font-size: 20px;
	cursor: pointer;
	-webkit-box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
	box-shadow: 0 0 10px 5px rgba(195, 188, 188, 0.3);
}
.js .input-file {
	position: absolute;
	top: 0; left: 0;
	width: 225px;
	opacity: 0;
	padding: 14px 0;
	cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
	background: #c0a302;
}
.file-return {
	margin: 0;
}
.file-return:not(:empty) {
	margin: 1em 0;
}
.js .file-return {
	font-style: italic;
	font-size: .9em;
	font-weight: 500;
}
.js .file-return:before {
	content: "ничего не выбрано";
	font-weight: 500;
}
.js .file-return:not(:empty):before {
	content: "";
}
.title-list {
	cursor: pointer;
	padding: 25px 0px
}
.marker {
	color: rgb(3, 158, 3);
	vertical-align: 3px
}
.checkout-title {
	font-size: 18px;
}

/* Reservation details */

.container-reservation-details {
	position: relative;
	display: flex;
	justify-content: center;
	width: 80%;
	float: right;
	margin-top: 15%;
	border: 2px solid #f6d200;
	border-radius: 10px;
}
.title-reservation-details {
	margin: 20px 0;
}
.reservation-details-body {
	width: 100%;
	margin: 0 25px 90px 25px;
}
.btn-finish {
	position: absolute;
	width: 90%;
	font-size: 18px;
	bottom: 12px;
}
.reservation-details-body li span.conditions {
	font-weight: 600
}
.reservation-details-body li span.value {
	float: right;
}

/*
* Rent auto page
*/

section.rent-car {
    margin-top: 40px;
}

.img-slider {
	background-size: cover !important;
	width: 635px;
	height: 500px;
}

.container-info {
	display: block;
}

.rent_from_title {
	color: grey;
}
.container-info, .first-column-rent .col-6, 
.container-info, .first-column-rent .col-4, 
.container-info, .first-column-rent .col-8 {
	padding-right: 10px;
	padding-left: 15px;
}

.container-info .form-cars__select {
	font-size: 13px;
	font-weight: 600;
	height: 100%;
}

.container-info .date_rent_from {    
	background: unset;
}

.container-info .date_rent_from::-webkit-inner-spin-button { 
	display: none;
}
.container-info .date_rent_from::-webkit-calendar-picker-indicator {
	color: #fff;
	opacity: 1;
	display: block;
	background: url(/image/arrow.png) no-repeat right;
	width: 20px;
	height: 20px;
	border-width: thin;
}

.value-distanse {
	font-weight: 600;
	float: right
}

.container-icons {
	display: flex;
	width: 100%;
	justify-content: space-between
}

.car-rent-icon {
	width: 28px;
	height: 28px;
}

.car-rent-text {
	font-size: 14px
}

.list-more-settings,
.list-additionally {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	margin: 10px 0;
}

.list-more-settings li,
.list-additionally div {
	width: 100%;
	font-size: 100%;
}

.square-more-setting {
	color: #f6d200;
	margin-right: 5px;
}

.distance-included-day,
.distance-included-week,
.distance-included-month {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.trips__card__another .filepond--root,
.trips__card__salon .filepond--root {
	width: 230px;
}
.trips__card__another form .fuel, .trips__card__another form .mileage {
	width: auto !important;
}
.container_trips__card__another {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.show-filling {
	display: block !important;
}
.container-check-photos {
	margin: 10px 0;
	text-align: center;
}
.container-check-photos div {
	text-align: center;
	margin: 10px 0;
}

/* Чат */

.chat-section {
	padding-top: 74px;
    padding-bottom: 80px;
}

.contaiiner-select-chat {
	width: 100%;
}

.item-select-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
	padding: 10px;
	cursor: pointer;
}

.item-select-chat.active, .item-select-chat:hover {
	background-color: #f6d200;
}

.item-select-chat .item-img-car {
	width: 140px;
}

span.time, .last-seen {
	font-style: italic;
	color: #808080;
}

.container-send-input {
	border-radius: 15px;
    padding: 5px;
	width: 100%;
    display: flex;
    justify-content: space-between;
	background-color: #000;
    align-items: center;
}
.send-input {
	width: 100%;
}
.send-input input {
	width: 100%; 
	border-radius: 50px;
    height: 32px;
	padding: 10px;
	background: #fff
}
.send-button {
	background: #f6d200;
    border-radius: 50px;
    margin: 7px;
}

.send-button img {
    width: 35px;
    border-radius: 50px;
	padding: 5px;
	cursor: pointer;
}

.top-container-chat {
	display: flex;
	justify-content: space-between;
	width: 100%;
    align-items: center;
}

.chat-img-car {
	width: 140px;
}

.chat-info-user {
	display: flex;
	text-align: right;
	padding-right: 5px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.car-wrapper img {
	width: 100%;
    margin-bottom: 20px;
}

.message-body {
	display: flex;
}

.message {
	background: rgba(241, 212, 25, 0.7);
    display: inline;
	padding: 10px;
    margin-top: 5px;
    border-radius: 15px 15px 15px 15px;
}
.message-body.you {
	justify-content: flex-end;
}

.interlocutor > .message {
    border-radius: 0px 15px 15px 15px;
}

.you > .message {
    border-radius: 15px 15px 0 15px;
}

.not-found-chat {    
	min-height: 10rem;
    background: rgba(241, 212, 25, 0.3);
    border-radius: 30px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.container-button .btn { 
	margin-top: 0;
}

#container-filling {
	width: 100%;
}