
  
.login-form__button, .login-form__join-button
  color: black
  background-color: #f6d200 !important

.login
  form.login-form
    width: 48%
.flex
  display: flex
  
.extra-desc
  margin-top: 10px
  font-size: 14px
  color: #525252
.btn
  white-space: nowrap

form
  .loading
    margin-left: 20px
    display: none
    img
      width: 36px

.car-wrapper__image
  height: 220px
  img
    height: 220px
    width: 100%
    object-fit: cover
    object-position: 50% 50%

input[type=password]
  background: none
.modal-dialog .login-form__pass
  width: 263px

.btn
  white-space: nowrap  
.btn.disabled, .btn:disabled
  cursor: not-allowed


.btn-close
  font-size: 16px
  
.card-list__item__cost
  input
    padding-right: 0
  input[type=radio]:not(checked) + label
    padding-left: 45px
  .number-dor__title
    margin-left: 14px

.filepond--image-preview-overlay-success
  color: #f6d200
.filepond--file
  background: #f6d200

.my-car img.car-wrapper__img
  height: 300px
  object-fit: contain !important

ul.extra-wrap
  display: flex
  justify-content: space-around

.nav-tabs
  margin-bottom: 20px


.about-car
  #editRentCar
    margin-right: 20px
    +r($small)
      margin-right: 0
  +r($small)
    .my-car img.car-wrapper__img
      height: 100%
    .car-wrapper__box
      margin-top: 0
      padding: 20px


.about-car__list
  display: flex
  width: 100%
  flex-wrap: wrap
  li
    width: 20%
    height: 220px
    box-shadow: -2px -0.1px 6px 0 rgba(135, 135, 135, 0.35)
    display: flex
    justify-content: center
    align-items: center
    margin-right: 20px
    margin-bottom: 20px
    position: relative
    transition: all 0.3s
    overflow: hidden
    object-fit: con
    
    &:not(::last-child)
      margin-right: 0
    &.hover
      box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.53)
      border: 1px solid black
    &:hover
      box-shadow: 0px 2px 20px 2px rgba(0, 0, 0, 0.53)
      .primary, .delete
        opacity: 1
    img
      width: 100%
      object-fit: contain
    .delete
      position: absolute
      top: 5px
      right: 5px
      cursor: pointer
      opacity: 0
      transition: all 0.3s
      img
        width: 30px
        height: 30px
    .primary
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 150px
      opacity: 0
      transition: all 0.3s
      button
        background: white
        color: black
        border: none
        text-transform: uppercase
        border-radius: 4px
        width: 165px
        height: 40px

.edit-car
  .filepond--root
    margin-top: 20px
    width: 100%
  .form-production-date
    width: 300px
  .card
    margin-bottom: 20px
  .all
    form
      margin-bottom: 100px
.card-list
  display: flex
  flex-wrap: wrap
  li
    width: 100%
  .card__photo
    width: 100%
    padding: 10px 0 !important
    align-items: center
    h2
      max-width: inherit
    &__title
      display: inline-block
      border-bottom: 1px solid #f6d200
  // .card__photo:nth-child(odd)
  //   margin-right: 50px

  .disable
    opacity: 0.5
    pointer-events: none
    cursor: not-allowed

.btn--register
  margin-top: 60px
  background-color: #f6d200

input.error
  border-bottom: 2px solid #f60000

.verify__block
  flex-wrap: wrap
  border: 1px solid #e8e8e8
  border-radius: 20px
  padding: 20px
  margin-top: 50px
  h2
    width: 100%
    margin-bottom: 20px
  .alert-success
    color: black
    background-color: #f6d200
    border-color: #f6d200

.card__osago, 
.card_kasko
  display: flex
  flex-wrap: wrap
  border-bottom: 1px solid #e8e8e8
  h2
    width: 100%
    font-size: 18px
  &__block
    width: 33%
    label
      padding: 0 0 0 35px
      &:before
        left: 0 !important
      &:after
        left: 6px !important
        
.menu
  position: relative
  cursor: pointer
  &:hover
    .menu__hover
      opacity: 1
  &__hover
    transition: all 0.3s
    opacity: 0
    top: 30px
    left: 50%
    transform: translateX(-50%)
    position: absolute
    background: white
    padding: 10px
    border: 1px solid #f6d200
    a
      display: block
      &:not(:last-child)
        margin-bottom: 10px

.alert
  margin-bottom: 0 !important

.back_to_cars
  display: inline-block
  margin-bottom: 10px
.car-wrapper__inner
  height: 22px
  .car-wrapper__text
    font-size: 16px

.card__featured
  margin-top: 50px
  padding-top: 50px

.rent
  margin-bottom: 30px
  &-location
    h2
      width: 100%
      text-align: center
    .rent-form__start
      width: 100%
      margin-right: 0px
      .login-form__input
        max-width: 100%
        height: 30px
        margin-bottom: 20px
      textarea
        border: none
        border-bottom: 2px solid #f6d200

.filterRent
  .form-production-date, .form-number-persons
    width: 250px
    .rent-form__select
      max-width: 200px


.table
  display: table
  &_tr
    display: table-cell
    padding: 20px 10px
    font-weight: bold
  .tr
    display: table-row
    border: 1px solid
  .td, .th
    display: table-cell
    padding: 20px 10px
    border-bottom: 1px solid #e2e2e2
    font-weight: bold

.loading
  position: fixed
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  z-index: 100
  background: rgba(0, 0, 0, 0.25)
  display: none
  img
    width: 100px
  &.active
    display: flex

.ban
  display: flex
  justify-content: space-around
  
#type
  input[type=radio]:not(checked) + label
    padding: 0 0 0 53px


.description_text
  width: 80% !important
  textarea
    border: none
    border-bottom: 2px solid #f6d200
    height: 50px
    max-width: 80%
    outline: none

.filter-title
  margin-bottom: 20px
.filter
  padding-top: 40px
  margin-bottom: 0
  padding-bottom: 40px
  &_two
    margin-bottom: 0
    padding-bottom: 0
  &_info
    margin-top: 40px
    margin-bottom: 40px
  &_date
  margin-bottom: 40px
  .form-cars__select
    max-width: 300px
.car
  .car-wrapper
    background: none
    padding: 27px 33px
    img
      width: 100%
      margin-bottom: 20px

.trips
  .nav
    margin-bottom: 40px
    &-item
      margin-right: 20px
      a
        color: #000
        display: inline-block
        &.active
          color: #7b7b7b
          border-bottom: 1px solid #f6d200
  .car-wrapper__inner
    height: inherit
    margin-bottom: 15px
  .car-wrapper__text_f
    font-family: 'SF UI Display 400', sans-serif
    font-size: 16px
    font-weight: 600
    width: 60%
  .car-wrapper__text_s
    width: 40%

.trips__card
  .car-wrapper__inner
    justify-content: center
    +r($small)
      flex-direction: column
    .btn
      margin-right: 20px
      +r($small)
        width: 100%
        margin-right: 0
        margin-bottom: 20px
  .img-card1
    height: 450px
    +r($medium)
      height: 100%
      margin-bottom: 50px
  h2
    font-family: 'Circe 400'
  &__intro
    margin-bottom: 70px
  &__info
    border-radius: 10px
    border: solid 2px #f6d200
    height: 100%
    padding: 40px 32px
    position: relative
    display: flex
    flex-direction: column
    h2
      font-size: 21px
      margin-bottom: 43px
      font-family: 'Circe 400'
    &__content
      flex: 1 0 auto
    &__text
      display: flex
      justify-content: space-between
      margin-bottom: 10px
      p
        font-size: 19px
        font-weight: 500
        font-family: 'Circe 400'
      span
        font-weight: 300
        font-size: 14px
        font-family: 'Circe 300'
        +r($small)
          text-align: right
    &__buttons
      display: flex
      flex: 0 0 auto
      justify-content: space-between
      flex-wrap: wrap
      width: 100%
      button
        height: 55px
        margin-top: 0px !important
        padding: 0 !important
        width: 45%
        +r($small)
          width: 100%
  &__salon
    form
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
    h2
      font-size: 21px
      width: 100%
      margin-bottom: 20px
      letter-spacing: -0.4px
    &__photo
      display: flex
  &__add
    div
      width: 90px
      height: 90px
      border: solid 2px #f6d200
      margin-right: 25px
      font-size: 35px
      display: flex
      align-items: center
      justify-content: center
      img
        object-fit: cover
        width: 100%
        height: 100%
  &__another
    form
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      .fuel, .mileage
        display: flex
        width: 25%
        align-items: center
        h2
          letter-spacing: -0.4px
          font-size: 21px
          width: 45%
          margin-right: 20px
      .input
        input
          border-bottom: 2px solid #f6d200
          height: 55px
  &__feature
    form
      display: flex
      justify-content: space-between
      align-items: center
      flex-wrap: wrap
      align-items: center
      h2
        width: 100%
    &__block
      width: 40%
    &__text
      display: flex
      justify-content: space-between
      p
        font-size: 19px
        font-weight: 500
        font-family: 'Circe 400'
      span
        font-weight: 300
        font-size: 19px
        font-family: 'Circe 300'
  .btn
    height: 55px

.disabled
  pointer-events: none
  opacity: 0.5 

.validateForm
  position: relative
  p
    margin-bottom: 20px

.checkbox
  .error
    font-family: 'Circe 300'
    color: red
    position: relative
    left: 15px

.checkout
  .checkout-btn
    height: 55px

.saveYearSeatsDoors
  .login-form__input
    padding: 10px 5px 6px 0

.tab-end
  .filepond--root
    width: 300px

.profile
  input[type=radio]:not(checked) + label
    padding-left: 40px
  
@media ("max-width: 1024px")
  .personal__link
    margin-right: 0
  .techsupport
    margin-top: 20px
  .personal
    margin-left: 0
  .card-list__wrap:not(:last-child)
    margin-right: 20px
  .card-list .card__photo, .card__osago, .card__kasko
    padding: 20px 0 !important
  .card__photo
    h2
      font-size: 14px
    .filepond--root
      width: 200px
  .extra-wrap
    flex-wrap: wrap
    justify-content: space-between
    li
      width: 30% !important
  .register-form
    .login-form__name-email
      margin-right: 150px
  .card-list__item:nth-child(2)
    border: none
  .card-list__item:nth-child(1)
    border-bottom: 1px solid #f6d200
@media ("max-width: 991px")
  .container-reservation-details
    width: 100%
  .personal__link
    font-size: 12px
  .saveYearSeatsDoors
    flex-wrap: wrap
    .card-list__btn
      margin-top: 20px
      position: relative
      left: 50%
      transform: translateX(-50%)
  .saveTypeCost
    flex-wrap: wrap
    .form-production-date, .number-dor
      width: 50%
    .card-list__btn
      margin-top: 20px
      position: relative
      left: 50%
      transform: translateX(-50%)
  .content-card1__wrap
    margin-top: 20px
  .rent
    margin-bottom: 0
  .register-form
    flex-direction: column
    .login-form__join-button
      margin-top: 50px
      margin-left: 0
      width: 300px
    .login-form__name-email
      margin-right: 0
@media ("max-width: 767px")
  #policy
    .modal-footer
      display: flex
      flex-direction: column
      button:first-child
        margin-bottom: 15px
  .carousel div.carousel-inner
    height: 300px !important
  .img-slider, .carousel
    width: 100%
  .img-slider
    height: 300px
  .list-more-settings
    flex-direction: column
    padding-left: 50px
  .container-form
    flex-direction: column
  .container-form form
    margin-bottom: 30px
  .personal__link
    font-size: 11px
  .more-cars
    font-size: 24px
    padding: 7px 20px
  .techsupport__phone a
    font-size: 18px
  .techsupport__text
    width: 30%
  .logo
    width: 100px
  .login, .my-car, .changing-card
    padding-top: 20px
  .login
    &-form
      margin-bottom: 50px
    .btn--register
      margin-top: 20px
  .form-cars__wrap
    margin-bottom: 20px
  .form-cars__select
    max-width: 100%
  .creating-cars-btn
    width: 100%
    margin-top: 20px
  .card-list__item
    padding: 20px 0 !important
  .card-list__info
    flex-direction: column
    .card-list__wrap 
      margin-bottom: 20px
  .form-production-date, .form-number-persons, .number-dor
    margin-bottom: 20px
    width: 100% !important
  .saveTypeCost
    flex-direction: column
  .card-list .card__photo,
    flex-direction: column
    width: 100%
    margin-right: 0 !important
    align-items: center
    border-bottom: 1px solid #e8e8e8
  .card__osago
    .card__osago__block, .card_kasko__block
      width: 100%
  .extra-wrap
    padding-left: 20px
    li
      width: 100% !important
  .img-card1
    flex-wrap: wrap
    .img-card1__wrap
      width: 100%
      margin-right: 0
      margin-bottom: 20px
    .img-card1__wrapper
      flex-wrap: wrap
      .img-card1__inner
        width: 33%
  .rent
    flex-direction: column
    .alert
      margin-bottom: 20px !important
  #goToRentCar
    flex-wrap: wrap
    h2
      width: 100%
      text-align: center
      margin-bottom: 20px
    .rent-form__start
      margin-right: 0
    .rent-form__input
      margin-top: 20px



.verify
  .card-list__title_small
    max-width: inherit
  .card-list__item
    padding: 20px 0px !important
  .checkout-lists
    margin-top: 0
.card__osago
  .input
    height: 60px
    background-color: white !important
    border: 1px solid #f6d200
    padding: 0 10px !important
.red-border
  border-bottom: 2px solid red